<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yidianyidi.hun.navigator.mapper.ClassifyMapper">
     <!--分类插入-->
    <insert id="query" parameterType="com.yidianyidi.hun.navigator.modle.po.ClassifyPO">
        INSERT INTO classify value (#{name},now(),now())
    </insert>
    <select id="queryAll" resultType="com.yidianyidi.hun.navigator.modle.po.ClassifyPO">
        select * from classify ;
    </select>



</mapper>